h1 {
  text-align: center;
}

#table{
  text-align: center;
}

table{
  display: inline-block;
}

td.hold{
  background-color: orange;
}

td.dead{
  background-color: silver;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
}